---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Pagina non trovata - Federica Ercole Portfolio">
    <main class="page error">
        <div class="wrapper">
            <h1 class="error">Errore 404 - Pagina non trovata</h1>
        </div>
    </main>
</Layout>
