---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";

const webSkills = [
	"HTML",
	"CSS",
	"Sass/SCSS",
	"JavaScript",
	"React",
	"WordPress",
	"Git",
	"VS Code",
];

const designSkills = ["Illustrator", "Affinity Designer", "Figma"];
---

<Layout title="Portfolio">
	<a href="#main" class="visually-hidden skip-link">Vai al contenuto</a>
	<header>
		<h1>Federica Ercole</h1>
		<span>
			&lt; Front-End Developer /&gt;
			<span>Designer</span>
		</span>
	</header>
	<main id="main">
		<section class="works">
			<div class="wrapper">
				<h2>Portfolio</h2>
				<Card
					title="Hanami Blog"
					subtitle="Sito in WordPress"
					desc="Un sito per lo studio il giapponese che va avanti da più di 10 anni, di cui gestisco ogni singolo aspetto"
				/>
				<Card
					title="Kana App"
					subtitle="App in React"
					desc="Un’applicazione per ripassare facilmente i sillabari del giapponese: hiragana e katakana"
				/>

				<Card
					title="Shop Online"
					subtitle="Sito in React"
					desc="Un finto shop online per far pratica con il routing e con funzioni relative alla gestione del carrello"
				/>
			</div>
		</section>
		<section class="with-bg about">
			<div class="wrapper">
				<h2>Mi presento</h2>
				<div>
					<p>
						Sono Federica Ercole e sono un'appassionata di grafica e
						di internet.
					</p>

					<p>
						Ho iniziato i miei primi passi nel web nei primi anni
						2000 con HTML e CSS, quando si usavano tabelle per
						posizionare gli elementi di una pagina e tanti siti
						facevano uso di Flash.
					</p>

					<p>
						Successivamente ho iniziato ad usare il CMS
						WordPress.org per creare siti dinamici, creando temi da
						zero sia dal punto di vista dell'HTML e CSS che della
						grafica.
					</p>

					<p>
						Negli ultimi 6 mesi ho iniziato a studiare JavaScript e
						React seguendo vari corsi online, tra cui The Odin
						Project.
					</p>

					<p>
						Sono sempre alla ricerca nuove opportunità per
						migliorare le mie conoscenze. Non si finisce mai di
						imparare!
					</p>
				</div>
				<div class="img-container">
					<img
						src="../src/assets/images/foto.jpg"
						alt="Federica Ercole sorridente"
					/>
				</div>
			</div>
		</section>
		<section class="skills">
			<div class="wrapper">
				<h2>Competenze e strumenti</h2>
				<div>
					<h3 class="web">Web</h3>
					<ul>
						{webSkills.map((skill) => <li>{skill}</li>)}
					</ul>
				</div>
				<div>
					<h3 class="design">Design</h3>
					<ul>
						{designSkills.map((skill) => <li>{skill}</li>)}
					</ul>
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
