---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portfolio">
	<header>
		<h1>Federica Ercole</h1>
		<h2>
			&lt; Front-End Developer /&gt;
			<span>Designer</span>
		</h2>
	</header>
	<main>
		<section>
			<h2>I miei lavori</h2>
			<div class="works-container">
				<Card
					title="Hanami Blog"
					subtitle="Sito in WordPress"
					desc="Un sito per lo studio il giapponese che va avanti da più di 10 anni, di cui gestisco ogni singolo aspetto."
				/>
			</div>
		</section>
		<section class="with-bg">
			<div class="wrapper">
				<h2>Mi presento</h2>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.
					Repudiandae doloribus sint accusantium error ab totam minima
					voluptate cum vero. Tempora enim officiis molestias saepe
					perspiciatis aliquam dolore obcaecati itaque at.
				</p>
				<img src="../src/assets/images/foto.jpg" />
			</div>
		</section>
		<section class="skills">
			<div class="wrapper">
				<h2>Conoscenze</h2>
				<h3 class="web">Web</h3>
				<h3 class="design">Design</h3>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
