---
import Layout from "../layouts/Layout.astro";
import { works } from "../components/works.astro";
import Card from "../components/Card.astro";

const webSkills = [
	"HTML",
	"CSS",
	"Sass/SCSS",
	"JavaScript",
	"React",
	"WordPress",
	"Git",
	"VS Code",
];

const designSkills = ["Adobe Illustrator", "Affinity Designer", "Figma"];
---

<Layout
	title="Federica Ercole - Front-End Developer e Designer"
	description="Portfolio di Federica Ercole, graphic designer interessata al front-end development"
	index="index"
>
	<header>
		<h1>Federica Ercole</h1>
		<p>
			<span class="front-end">Front-End Developer</span>
			<span class="designer">
				<span></span>
				Designer
				<span></span>
			</span>
		</p>
	</header>
	<main id="main">
		<article class="wrapper about">
			<h2>Mi presento</h2>
			<div>
				<p>
					Sono Federica Ercole e sono una <strong
						>graphic designer</strong
					> interessata al front-end development. <strong
						>Costruisco siti web</strong
					> facendo attenzione all'<strong>accessibilità</strong> per rendere
					i contenuti fruibili a tutti gli utenti.
				</p>

				<p>
					Ho iniziato <strong
						>i miei primi passi nel web nei primi anni 2000</strong
					>
					con HTML e CSS, quando si usavano tabelle per posizionare gli
					elementi di una pagina e tanti siti facevano uso di Flash.
				</p>

				<p>
					Successivamente ho iniziato ad usare il CMS WordPress.org
					per creare siti dinamici, creando temi da zero sia dal punto
					di vista dell'HTML e CSS che della grafica.
				</p>

				<p>
					<strong>Negli ultimi 6 mesi</strong> ho iniziato a studiare JavaScript
					e React seguendo vari corsi.
				</p>

				<p>
					Sono sempre alla ricerca nuove opportunità per migliorare le
					mie conoscenze. Non si finisce mai di imparare!
				</p>
			</div>
			<img src="/images/foto.jpg" alt="Federica Ercole sorridente" />
		</article>
		<div class="wrapper">
			<h2>Portfolio</h2>
			{works.map((work) => <Card work={work} />)}
		</div>

		<div class="skills wrapper">
			<h2>Competenze e strumenti</h2>
			<article>
				<h3 class="web">Web</h3>
				<ul>
					{webSkills.map((skill) => <li>{skill}</li>)}
				</ul>
			</article>
			<article>
				<h3 class="design">Design</h3>
				<ul>
					{designSkills.map((skill) => <li>{skill}</li>)}
				</ul>
			</article>
		</div>
	</main>
</Layout>
