---
export interface Props {
	title: string;
	subtitle: string;
	desc: string;
}

const { title, subtitle, desc } = Astro.props;
import { Icon } from "astro-icon";
---

<div class="work">
	<div class="work-desc">
		<h3>
			<a href="">
				{title}
				<Icon name="jam:arrow-right" aria-hidden="true" />
			</a>
		</h3>
		<h4>{subtitle}</h4>
		<p>{desc}</p>
	</div>
	<div class="img"></div>
</div>
