---
export interface Props {
	title: string;
	subtitle: string;
	desc: string;
}

const { title, subtitle, desc } = Astro.props;
---

<div class="work">
	<div class="work-desc">
		<h3>{title}</h3>
		<h4>{subtitle}</h4>
		<p>{desc}</p>
		<a href="">Scopri di più</a>
	</div>
	<div class="img"></div>
</div>
