---
import { Icon } from "astro-icon";
---

<footer id="contatti">
    <h2>Contattami</h2>
    <p>Sono alla ricerca di <strong>nuove opportunità lavorative</strong></p>
    <div>
        <a href="mailto:info@federicaercole.com" aria-label="E-mail">
            <Icon
                name="tabler:mail"
                aria-hidden="true"
                focusable="false"
                width="24"
                height="24"
            />
        </a>
        <a
            href="https://www.linkedin.com/in/federicaercole/"
            aria-label="LinkedIn"
        >
            <Icon
                name="jam:linkedin"
                aria-hidden="true"
                focusable="false"
                width="24"
                height="24"
            />
        </a>
        <a href="https://github.com/federicaercole" aria-label="GitHub">
            <Icon
                name="eva:github-outline"
                aria-hidden="true"
                focusable="false"
                width="24"
                height="24"
            />
        </a>
    </div>
    <p>© Sito ideato e costruito da Federica Ercole con Astro</p>
</footer>
