---
import { Icon } from "astro-icon";
---

<footer class="with-bg">
    <h2>Contatti</h2>
    <div><Icon name="tabler:mail" role="img" /></div>
    <div><Icon name="jam:linkedin" role="img" /></div>
    <div><Icon name="eva:github-outline" role="img" /></div>
</footer>

<style lang="css">
    [astro-icon] {
        fill: #0a1c5c;
        color: #0a1c5c;
        width: 24px;
        height: auto;
    }
</style>
