---
import { Icon } from "astro-icon";
---

<footer class="with-bg" id="contatti">
    <a href="" title="Invia un'e-mail">
        <Icon name="tabler:mail" role="img" title="Icona e-mail" />
    </a>
    <a
        href="https://www.linkedin.com/in/federicaercole/"
        title="Visita LinkedIn"
    >
        <Icon name="jam:linkedin" role="img" title="Logo LinkedIn" />
    </a>
    <a href="https://github.com/federicaercole" title="Visita Github">
        <Icon name="eva:github-outline" role="img" title="Logo Github" />
    </a>
    <p>© Sito ideato e costruito da Federica Ercole con Astro.js</p>
</footer>
