---
import { Icon } from "astro-icon";
---

<footer id="contatti">
    <h2>Contattami</h2>
    <p>Sono alla ricerca di <strong>nuove opportunità lavorative</strong></p>
    <div>
        <a href="mailto:info@federicaercole.com" title="Manda un'e-mail">
            <Icon name="tabler:mail" role="img" title="Icona e-mail" />
        </a>
        <a
            href="https://www.linkedin.com/in/federicaercole/"
            title="Visita LinkedIn"
        >
            <Icon name="jam:linkedin" role="img" title="Logo LinkedIn" />
        </a>
        <a href="https://github.com/federicaercole" title="Visita GitHub">
            <Icon name="eva:github-outline" role="img" title="Logo GitHub" />
        </a>
    </div>
    <p>© Sito ideato e costruito da Federica Ercole con Astro</p>
</footer>
