---
const menuItems = ["I miei lavori", "Chi sono", "Competenze", "Contatti"];
const id = ["portfolio", "chi-sono", "competenze", "contatti"];
---

<nav>
    <ul>
        {
            menuItems.map((item, index) => (
                <li>
                    <a href=`#${id[index]}`>{item}</a>
                </li>
            ))
        }
    </ul>
</nav>