<a href="#main" class="visually-hidden skip-link">Vai al contenuto</a>
<nav>
    <a href="">
        <svg
            width="100%"
            height="100%"
            viewBox="0 0 930 1271"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xml:space="preserve"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
        >
            <rect
                x="1.693"
                y="0.13"
                width="924.137"
                height="1267.51"
                style="fill:none;"></rect>
            <g>
                <path
                    d="M805.66,1230.44c52.053,0 94.313,-42.26 94.313,-94.313l0,-94.313l-872.423,-0l-0,188.626l778.11,0Z"
                ></path>
                <path
                    d="M802.209,37.337l-774.659,0l-0,954.471l169.583,-0l0,-292.897l364.821,0l-0,-130.049l-364.821,0l0,-335.997l702.84,0l0,-97.764c0,-53.957 -43.806,-97.764 -97.764,-97.764Z"
                ></path>
            </g>
        </svg>
    </a>
    <a href="/#contatti" class="cta">Contattami</a>
</nav>
