<a href="#main" class="visually-hidden skip-link">Vai al contenuto</a>
<nav>
    <a href="/" aria-label="Ritorna all'homepage">
        <svg
            viewBox="0 0 1380 1413"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xml:space="preserve"
            role="img"
            aria-labelledby="logo"
            width="48"
            height="48"
        >
            <title id="logo">Logo Federica Ercole</title>
            <path
                class="f-logo"
                d="M184.644,673.866l-173.698,0l-0,-81.486l179.878,0c6.725,-54.68 18.933,-106.573 36.627,-155.69c28.538,-79.221 69.707,-147.499 123.508,-204.836c53.801,-57.337 119.766,-102.199 197.895,-134.588c78.129,-32.388 166.783,-48.583 265.965,-48.583c78.596,0 151.578,12.693 218.947,38.079c67.368,25.386 125.848,62.37 175.438,110.953c49.591,48.583 88.655,108.326 117.193,179.231c28.538,70.905 42.807,152.314 42.807,244.227c0,19.259 -2.807,32.389 -8.421,39.392c-5.614,7.003 -14.971,10.504 -28.07,10.504l-1008.63,0l-0,151.084c6.031,47.712 15.691,91.887 28.981,132.535c24.327,74.406 58.947,136.776 103.859,187.11c44.912,50.333 99.181,88.193 162.807,113.579c63.626,25.385 134.737,38.078 213.333,38.078c70.176,0 130.994,-7.222 182.456,-21.665c51.462,-14.444 94.737,-30.638 129.825,-48.583c35.087,-17.945 62.924,-34.139 83.508,-48.583c20.585,-14.443 35.556,-21.665 44.913,-21.665c12.163,-0 21.52,4.377 28.07,13.13l36.491,42.018c-22.456,26.261 -52.164,50.771 -89.123,73.531c-36.959,22.759 -78.128,42.236 -123.508,58.431c-45.38,16.194 -94.035,29.105 -145.965,38.734c-51.93,9.63 -104.094,14.444 -156.491,14.444c-95.439,0 -182.456,-15.538 -261.053,-46.613c-78.596,-31.076 -145.965,-76.376 -202.105,-135.901c-12.654,-13.417 -24.654,-27.512 -35.998,-42.283l-0,224.797l-139.44,0l-0,-719.381Zm1063.86,-82.893c-0,-70.029 -10.527,-132.837 -31.579,-188.422c-21.053,-55.586 -50.761,-102.637 -89.123,-141.153c-38.363,-38.516 -83.977,-68.06 -136.842,-88.631c-52.866,-20.571 -111.111,-30.857 -174.737,-30.857c-72.047,0 -136.608,10.504 -193.684,31.513c-57.076,21.009 -106.433,51.209 -148.07,90.601c-41.637,39.391 -75.088,86.661 -100.351,141.809c-25.263,55.148 -42.105,116.862 -50.526,185.14l924.912,0Z"
            ></path><path
                d="M324.084,812.219c5.901,51.516 15.949,99.009 30.142,142.469c24.299,74.406 58.878,136.776 103.737,187.11c44.859,50.333 99.064,88.193 162.615,113.579c63.551,25.385 134.578,38.078 213.082,38.078c70.092,0 130.839,-7.222 182.241,-21.665c51.401,-14.444 94.625,-30.638 129.671,-48.583c35.047,-17.945 62.85,-34.139 83.41,-48.583c20.561,-14.443 35.514,-21.665 44.86,-21.665c12.149,-0 21.495,4.377 28.037,13.13l36.448,42.018c-22.43,26.261 -52.102,50.771 -89.018,73.531c-36.915,22.759 -78.036,42.236 -123.363,58.431c-45.326,16.194 -93.924,29.105 -145.793,38.734c-51.868,9.63 -103.97,14.444 -156.306,14.444c-95.326,0 -182.241,-15.538 -260.745,-46.613c-78.504,-31.076 -145.793,-76.376 -201.867,-135.901c-13.084,-13.89 -25.469,-28.507 -37.151,-43.846l-0,-354.668Z"
                class="e-logo"></path><path
                d="M808.651,48.705c2.052,-0.015 4.107,-0.022 6.168,-0.022c78.596,0 151.578,12.693 218.947,38.079c67.368,25.386 125.848,62.37 175.438,110.953c49.591,48.583 88.655,108.326 117.193,179.231c28.538,70.905 42.807,152.314 42.807,244.227c0,19.259 -2.807,32.389 -8.421,39.392c-5.614,7.003 -14.971,10.504 -28.07,10.504l-842.606,0l-0,-80.096l758.396,0c-0,-70.029 -10.527,-132.837 -31.579,-188.422c-21.053,-55.586 -50.761,-102.637 -89.123,-141.153c-38.363,-38.516 -83.977,-68.06 -136.842,-88.631c-52.866,-20.571 -111.111,-30.857 -174.737,-30.857c-2.532,0 -5.056,0.013 -7.571,0.039l-0,-93.244Z"
                class="e-logo"></path></svg
        >
    </a>
    <a href="#contatti">Contatti</a>
</nav>
