/*Reset*/

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/*Stili elementi base*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$primary-color-100: #E4E9FC;
$primary-color-200: #A8B8F0;
$primary-color-300: #7D94E8;
$primary-color-400: #5774DB;
$primary-color-500: #3C57B6;
$primary-color-600: #2A3E89;
$primary-color-700: #1C2E6E;
$primary-color-800: #0A1C5C;
$primary-color-900: #041349;
$accent-color-500: #FFC727;
$accent-color-300: #fedd81;

$fs-50: 0.875rem;
$fs-100: 1rem;
$fs-200: 1.125rem;
$fs-300: 1.5rem;
$fs-400: 2.25rem;
$fs-500: 3rem;
$fs-600: 3.75rem;
$fs-700: 4.5rem;

body {
    background: linear-gradient(180deg, #311C6E 12.8%, $primary-color-800 29.17%);
    color: $primary-color-100;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    padding: 32px 0 96px 0;
    margin: 0 16px 64px 16px;
    align-self: center;
}

section>* {
    margin: 0 16px;
}

svg {
    width: 24px;
    height: auto;
}

.wrapper {
    margin: 0 auto;
    max-width: 1120px;
    padding: 64px 16px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*Testo*/

p {
    margin: 1.5rem 0;
    line-height: 1.6;
}

h1 {
    color: $accent-color-500;
    font-size: $fs-500;
    text-align: center;
}

h2 {
    color: $primary-color-200;
    font-size: $fs-300;
    margin-bottom: 16px;
}

span {
    display: flex;
    font-size: $fs-300;
    flex-direction: column;
    font-weight: 500;
    text-align: center;
    margin-top: 32px;
}

span>span {
    padding: 8px 12px;
    width: max-content;
    border: 1px solid $primary-color-200;
    margin: 0 auto;
}

/*Header*/

nav {
    justify-self: center;
    width: min(100%, 1120px);
    padding: 32px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
        width: 48px;
    }

    .f-logo {
        fill: $primary-color-100;
    }

    .e-logo {
        fill: $primary-color-300;
    }
}

.cta {
    padding: 8px 16px;
    background-color: $primary-color-300;
    border-radius: 12px;
    color: $primary-color-800;
    text-decoration: none;
    font-size: $fs-200;
    font-weight: 500;
}

/*Sezione portfolio*/

.works h2 {
    text-align: center;
}

.work {
    margin: 64px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    align-items: center;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.work-desc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    h3 {
        font-size: $fs-300;
        font-weight: 600;
    }

    h4 {
        font-size: $fs-50;
        text-transform: uppercase;
        font-weight: 400;
        order: -1;
        margin-bottom: 4px;
        letter-spacing: 0.05rem;
    }

    a {
        color: $accent-color-500;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 4px;
        width: max-content;

        svg {
            color: $accent-color-500;
        }

    }
}

.container {
    height: 85%;
    border-radius: 12px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

/*Footer*/

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 32px 16px;
    justify-content: center;

    h2 {
        text-align: center;
        flex-basis: 100%;
    }

    a {
        background-color: $primary-color-200;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        color: $primary-color-800;
    }

    p {
        font-size: $fs-50;
        flex-basis: 100%;
        text-align: center;
        margin: 32px 0 0 0;
    }
}

/*Hover*/
@media(hover:hover) {

    .works a:hover,
    .works a:hover svg {
        color: $accent-color-300;
    }

    .works a:hover svg {
        transform: translateX(12px);
    }

    footer a:hover,
    .cta:hover {
        background-color: $primary-color-400;
        color: $primary-color-100;
    }

    footer a:hover svg {
        color: $primary-color-100;
    }

    a:hover img {
        transform: translateY(-15%);
    }

    a:hover .f-logo {
        fill: $primary-color-300;
    }

    a:hover .e-logo {
        fill: $primary-color-100;
    }
}

/*Active*/

.works a:active,
.works a:active svg {
    color: $accent-color-300;
}

.works a:active svg {
    transform: translateX(12px);
}

footer a:active,
.cta:active {
    background-color: $primary-color-400;
    color: $primary-color-100;
}

footer a:active svg {
    color: $primary-color-100;
}

/*Focus*/

@mixin focus-style() {
    outline-color: $accent-color-500;
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 2px;
}

*:focus {
    @include focus-style();
}

.skip-link:focus {
    display: block;
    background-color: $primary-color-100;
    color: $primary-color-800;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    clip: auto;
    clip-path: none;
    height: auto;
    width: max-content;
    padding: 16px;
    z-index: 20;
}

@supports selector(:focus-visible) {

    *:focus {
        outline: 0;
    }

    *:focus-visible {
        @include focus-style();
    }
}

/*Sezione chi sono*/

.about .wrapper {
    align-items: center;
}

.about p {
    max-width: 50ch;
}

.with-bg {
    background-color: $primary-color-900;

    .img-container {
        max-width: 350px;
    }

    img {
        border-radius: 50%;
        object-fit: cover;
    }
}

/*Sezione competenze*/

.skills .wrapper,
.about .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    p:first-of-type {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    h2 {
        flex-basis: 100%;
    }
}

.skills {

    h2 {
        text-align: center;
    }

    h3 {
        font-weight: 500;
        font-size: $fs-300;
        display: flex;
        align-items: center;
        gap: 24px;
        letter-spacing: 0.05rem;
        margin-bottom: 16px;
    }

    h3::before {
        content: "";
        width: 64px;
        height: 64px;
        background-color: $accent-color-500;
        display: block;
        border-radius: 50%;
    }

    @mixin background-size() {
        background-position: 50%;
        background-size: 32px auto;
        background-repeat: no-repeat;
    }

    .web::before {
        background-image: url('../assets/icons/code.svg');
        @include background-size();
    }

    .design::before {
        background-image: url('../assets/icons/design.svg');
        @include background-size();
    }

    .wrapper div {
        flex: 1 1 250px;
        padding: 24px;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 250px;
    }

    .wrapper div:last-of-type {
        padding-bottom: 0;
    }

    li {
        margin: 16px 0;
    }

    li:last-of-type {
        margin-bottom: 0;
    }

}

/*Animazioni*/
@media (prefers-reduced-motion:no-preference) {

    nav svg path {
        transition: fill 0.3s ease-in-out;
    }

    .cta {
        transition: background-color 0.4s, color 0.4s;
        transition-timing-function: ease-in-out;
    }

    .work svg {
        transition: transform 0.5s ease-in-out;
    }

    footer {
        a {
            transition: background-color 0.3s ease-in-out;
        }

        svg {
            transition: color 0.3s ease-in-out;
        }
    }

    img {
        transition: transform 0.4s ease-in-out;
    }

}

/*Tablet e Desktop*/

@media (min-width: 600px) {
    .container {
        order: -1;
    }

    .work:nth-child(2n) {

        .container {
            order: 1;
        }

        .work-desc {
            align-items: flex-end;
            text-align: right;
        }
    }

    .work {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
}

@media (min-width: 800px) {

    .about .wrapper {
        justify-content: flex-start;

        &>div {
            flex-basis: 50%;
        }

        &>div:first-of-type {
            flex-grow: 2;
        }
    }

    .work {
        gap: 64px;
        grid-template-columns: 1fr 1fr;
    }

    .work:nth-child(2n) {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: $fs-600;
    }

    h2,
    .work-desc h3 {
        font-size: $fs-400;
    }

    ul {
        font-size: $fs-200;
    }

}

@media (min-width: 1000px) {

    h1 {
        font-size: $fs-700;
    }

    h2 {
        font-size: $fs-500;
        letter-spacing: 0.05rem;
    }

    p {
        font-size: $fs-200;
    }

    // .container {
    //     height: 384px;
    // }
}