/*Reset*/

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/*Mixin*/

@mixin vertical-align-center() {
    display: flex;
    align-items: center;
}

@mixin focus-style() {
    outline-color: $accent-color-500;
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 2px;
}

@mixin background-size() {
    background-position: 50%;
    background-size: 32px auto;
    background-repeat: no-repeat;
}

/*Font*/

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url(../assets/fonts/montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Stili elementi base*/

$primary-color-100: #E4E9FC;
$primary-color-200: #A8B8F0;
$primary-color-300: #7D94E8;
$primary-color-400: #5774DB;
$primary-color-500: #3C57B6;
$primary-color-600: #2A3E89;
$primary-color-700: #1C2E6E;
$primary-color-800: #0A1C5C;
$primary-color-900: #041349;
$accent-color-500: #FFC727;
$accent-color-300: #fedd81;
$violet: #311C6E;

$fs-50: 0.875rem;
$fs-100: 1rem;
$fs-200: 1.125rem;
$fs-300: 1.5rem;
$fs-400: 2.25rem;
$fs-500: 3rem;
$fs-600: 3.75rem;
$fs-700: 4.5rem;

body {
    background: linear-gradient(180deg, $violet 12.8%, $primary-color-800 29.17%);
    color: $primary-color-100;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    padding: 48px 0;
    align-self: center;
}

svg {
    width: 24px;
    height: auto;
}

.wrapper {
    margin: 0 auto;
    max-width: 1120px;
    padding: 64px 16px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*Testo*/

p:not(header>p, footer>p) {
    margin: 1rem 0;
    line-height: 1.7;
    max-width: 55ch;

    &+& {
        margin: 1.5rem 0;
    }
}

strong {
    font-weight: 600;
}

h1,
h2 {
    letter-spacing: 0.05rem;
}

h1 {
    color: $accent-color-500;
    font-size: clamp($fs-500, 4vw + $fs-100, $fs-700);
    text-align: center;
}

h2 {
    color: $primary-color-200;
    font-size: clamp($fs-400, $fs-100 + 4vw, $fs-500);
    margin-bottom: 16px;
    text-align: center;
    flex-basis: 100%;
}

/*Link*/

.highlight-link {
    color: $accent-color-500;
    @include vertical-align-center();
    gap: 4px;
    width: max-content;

    svg {
        color: $accent-color-500;
    }
}

.page {
    .highlight-link {
        font-size: $fs-200;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: 500;
    }

    a:not(.highlight-link) {
        text-decoration: underline;
        color: $accent-color-500;
    }
}

/*Header*/

nav {
    @include vertical-align-center();
    justify-self: center;
    width: min(100%, 1120px);
    padding: 32px 16px;
    justify-content: space-between;

    svg {
        width: 48px;
    }

    .f-logo {
        fill: $primary-color-100;
    }

    .e-logo {
        fill: $primary-color-300;
    }
}

.cta {
    padding: 8px 16px;
    background-color: $primary-color-300;
    border-radius: 12px;
    color: $primary-color-800;
    font-size: $fs-200;
    font-weight: 500;
}

.front-end::before {
    content: "<";
    margin-right: 8px;
}

.front-end::after {
    content: ">";
    margin-left: 8px;
}

header p {
    @include vertical-align-center();
    flex-direction: column;
    font-size: clamp($fs-300, $fs-100 + 2vw, $fs-500);
    font-weight: 500;
    margin: 64px 0 0 0;
    text-align: center;
}

.designer {
    $square-width: 10px;

    padding: 8px 12px;
    width: max-content;
    border: 1px solid $primary-color-200;
    margin: 16px auto 0 auto;
    position: relative;

    &::before,
    &::after,
    & span {
        content: "";
        display: block;
        width: $square-width;
        height: $square-width;
        background-color: $primary-color-100;
        border: 1px solid $primary-color-200;
        position: absolute;
    }

    &::before {
        top: - calc($square-width/2);
        left: - calc($square-width/2);
    }

    &::after {
        bottom: - calc($square-width/2);
        right: - calc($square-width/2);
    }

    & span:nth-of-type(1) {
        top: - calc($square-width/2);
        right: - calc($square-width/2);
    }

    & span:nth-of-type(2) {
        bottom: - calc($square-width/2);
        left: - calc($square-width/2);
    }
}

/*Sezione portfolio*/

.work {
    margin: 32px 0;
    display: grid;
    grid-template-columns: 1fr;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.work-desc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    h3 {
        font-size: clamp($fs-300, $fs-100 + 2vw, $fs-400);
        font-weight: 600;
    }

    h4 {
        font-size: $fs-50;
        text-transform: uppercase;
        font-weight: 400;
        order: -1;
        margin-bottom: 4px;
        letter-spacing: 0.05rem;
    }
}

.container {
    height: 85%;
    border-radius: 12px;
    overflow: hidden;
    max-width: 512px;
    transform: translateY(0);
}

/*Footer*/

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 32px 16px;
    justify-content: center;

    a {
        background-color: $primary-color-200;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        @include vertical-align-center();
        justify-content: center;
    }

    svg {
        color: $primary-color-800;
    }

    p {
        font-size: $fs-50;
        flex-basis: 100%;
        text-align: center;
        margin: 2rem 0 0 0;
    }
}

/*Pagina portfolio*/

.page {

    h1 {
        font-size: clamp($fs-400, $fs-100 + 4vw, $fs-600);
        color: $primary-color-200;
        text-align: left;
    }

    h2,
    .error {
        margin: 64px 0 24px 0;
        text-align: left;
        font-size: clamp($fs-300, $fs-100 + 2vw, $fs-400);
    }

    .error {
        font-size: $fs-500;
    }

    .page-intro {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 16px;

        &+p {
            margin-top: 32px;
        }
    }

    ul {
        list-style: disc;
        padding: 0 0 16px 0;
        padding-left: 24px;
    }

    li {
        padding: 8px 0;
        line-height: 1.6;
    }

    pre {
        background-color: $primary-color-900 !important;
        width: 100%;
        font-size: $fs-50;
        word-break: break-word;
        white-space: pre-wrap;
        border-left: 4px solid $primary-color-300;
        padding: 32px;
    }
}

/*Immagini su pagina singola*/

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 64px;
    align-items: flex-start;

    &+h2,
    &+p {
        margin-top: 3rem;
    }

    figure {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 16px;
        gap: clamp(16px, 3vmax, 32px);

        figcaption {
            padding: 16px;
            font-size: $fs-50;
            line-height: 1.7;
            border-left: 4px solid $primary-color-300;
            max-width: 50ch;

            span {
                font-size: $fs-400;
                font-weight: 500;
                margin-right: 8px;
                display: block;
            }
        }

        &>a {
            cursor: zoom-in;
        }
    }

    .big {
        flex: 1 1 100%;
    }

    .medium {
        flex: 2 1 calc(75% - 32px);
    }

    .small {
        justify-content: space-evenly;
        flex: 1 1 calc(50% - 32px);

        img {
            max-width: 281px;
        }
    }

    .mini {
        justify-content: space-evenly;
        flex: 1 1 25%;
    }

}

aside {
    margin-bottom: 64px;

    h2 {
        text-align: left;
        grid-column: 1/-1;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 32px 16px;
    }

    .work {
        grid-template-columns: 1fr;
        margin: 0;
        gap: 0;
        align-items: start;

        &:nth-of-type(2) {
            margin-top: 32px;
        }
    }

    .work-desc {
        position: relative;
        top: -1rem;
    }

    .container {
        order: -1;
    }
}

/*Hover*/
@media(hover:hover) {

    .highlight-link:hover,
    .highlight-link:hover svg,
    .page a:hover {
        color: $accent-color-300;
    }

    .highlight-link:hover svg {
        transform: translateX(12px);
    }

    footer a:hover,
    .cta:hover {
        background-color: $primary-color-400;
        color: $primary-color-100;
    }

    footer a:hover svg {
        color: $primary-color-100;
    }

    .work a:hover img {
        transform: translateY(-15%);
    }

    a:hover .f-logo {
        fill: $primary-color-300;
    }

    a:hover .e-logo {
        fill: $primary-color-100;
    }
}

/*Active*/

.highlight-link:active,
.highlight-link:active svg,
.page a:active {
    color: $accent-color-300;
}

.highlight-link:active svg {
    transform: translateX(12px);
}

footer a:active,
.cta:active {
    background-color: $primary-color-400;
    color: $primary-color-100;
}

footer a:active svg {
    color: $primary-color-100;
}

/*Focus*/

*:focus {
    @include focus-style();
}

.skip-link:focus {
    display: block;
    background-color: $primary-color-100;
    color: $primary-color-900;
    text-decoration: underline;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    clip: auto;
    clip-path: none;
    height: auto;
    width: max-content;
    padding: 16px;
    z-index: 20;
}

@supports selector(:focus-visible) {

    *:focus {
        outline: 0;
    }

    *:focus-visible {
        @include focus-style();
    }
}

/*Sezione chi sono*/

.about .wrapper {
    align-items: center;

    &>div {
        flex-basis: 50%;
    }

    &>div:first-of-type {
        flex-grow: 2;
    }
}

.with-bg {
    background-color: $primary-color-900;

    .img-container {
        max-width: 350px;
    }

    img {
        border-radius: 50%;
        object-fit: cover;
    }
}

/*Sezione competenze*/

.skills .wrapper,
.about .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    p:first-of-type {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.skills {
    h3 {
        font-weight: 500;
        font-size: $fs-300;
        @include vertical-align-center();
        gap: 24px;
        letter-spacing: 0.05rem;
        margin-bottom: 16px;
    }

    h3::before {
        content: "";
        width: 64px;
        height: 64px;
        background-color: $accent-color-500;
        display: block;
        border-radius: 50%;
    }

    .web::before {
        background-image: url('../assets/icons/code.svg');
        @include background-size();
    }

    .design::before {
        background-image: url('../assets/icons/design.svg');
        @include background-size();
    }

    .wrapper div {
        flex: 1 1 250px;
        padding: 24px;
        @include vertical-align-center();
        flex-direction: column;
        max-width: 250px;
    }

    .wrapper div:last-of-type {
        padding-bottom: 0;
    }

    li {
        margin: 16px 0;
    }

    li:last-of-type {
        margin-bottom: 0;
    }

}

/*Animazioni*/
@media (prefers-reduced-motion:no-preference) {

    nav svg path {
        transition: fill 0.3s ease-in-out;
    }

    .cta {
        transition: background-color 0.4s, color 0.4s;
        transition-timing-function: ease-in-out;
    }

    .highlight-link svg {
        transition: transform 0.5s ease-in-out;
    }

    footer {
        a {
            transition: background-color 0.3s ease-in-out;
        }

        svg {
            transition: color 0.3s ease-in-out;
        }
    }

    .work img {
        transition: transform 0.4s ease-in-out;
    }
}

/*Tablet e Desktop*/

@media (min-width: 600px) {

    .container {
        order: -1;
    }

    main .work:nth-child(2n) {

        .container {
            order: 1;
        }

        .work-desc {
            align-items: flex-end;
            text-align: right;
        }
    }

    .work {
        grid-template-columns: 1fr 1fr;
        gap: clamp(16px, 3vmax, 64px);
        align-items: center;
    }

    aside {
        .wrapper {
            grid-template-columns: 1fr 1fr;
        }

        .work {
            &:nth-of-type(2) {
                margin-top: 0;
            }
        }

        .work-desc {
            top: -0.75rem;
        }
    }
}

@media (min-width: 800px) {

    .about .wrapper {
        justify-content: flex-start;

        h2 {
            text-align: left;
        }
    }

    ul {
        font-size: $fs-200;
    }

    header {
        margin-bottom: 64px;
    }

    .image-grid {

        figure {
            flex-wrap: nowrap;

            figcaption {
                order: -1;
                font-size: $fs-100;
            }

            &:nth-child(2n):not(.small) figcaption {
                order: 1;
            }
        }
    }
}

@media (min-width: 1000px) {

    aside {
        .work-desc {
            top: -1rem;
        }
    }

    p {
        font-size: $fs-200;
    }

    .page {
        .wrapper {
            max-width: 75rem;

            &>h1,
            &>h2,
            &>p,
            &>ul,
            &>pre,
            .page-intro {
                margin-left: 40px;
                margin-right: 40px;
            }
        }
    }
}